#define IDR_TEMPORAL_VS_RIGID           3001
#define IDR_TEMPORAL_VS_SKINNED         3002
#define IDR_TEMPORAL_PS_VELOCITY        3003
#define IDR_TEMPORAL_VS_BONEWRITE       3004
#define IDR_TEMPORAL_PS_BONEWRITE       3005
#define IDR_TEMPORAL_PS_CAMERA          3006
#define IDR_TEMPORAL_PS_RESOLVE         3007
#define IDR_TEMPORAL_PS_UPSCALER_DEPTH  3008
#define IDR_TEMPORAL_PS_OPAQUE_LUMA     3009
#define IDR_TEMPORAL_PS_REACTIVE        3010

IDR_TEMPORAL_VS_RIGID           RCDATA "VelocityRigid.vso"
IDR_TEMPORAL_VS_SKINNED         RCDATA "VelocitySkinned.vso"
IDR_TEMPORAL_PS_VELOCITY        RCDATA "Velocity.pso"
IDR_TEMPORAL_VS_BONEWRITE       RCDATA "BoneWrite.vso"
IDR_TEMPORAL_PS_BONEWRITE       RCDATA "BoneWrite.pso"
IDR_TEMPORAL_PS_CAMERA          RCDATA "CameraMotion.pso"
IDR_TEMPORAL_PS_RESOLVE         RCDATA "TemporalResolve.pso"
IDR_TEMPORAL_PS_UPSCALER_DEPTH  RCDATA "UpscalerDepth.pso"
IDR_TEMPORAL_PS_OPAQUE_LUMA     RCDATA "OpaqueLuma.pso"
IDR_TEMPORAL_PS_REACTIVE        RCDATA "Reactive.pso"
